.header
  .header__left
    .title
      %p TweetApp
  .header__search
    %input.header__search__box{name: "key", placeholder: "キーワードから探す"}
    %button{type: "submit"}　検索
  .header__right
    %ul.lists
      - if user_signed_in?
        %li.lists__item
          = link_to "#{current_user.nickname}", users_path(current_user)
        %li.lists__item
          = link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        %li.lists__item
          = link_to "ログイン", new_user_session_path
        %li.lists__item
          = link_to "新規会員登録", new_user_registration_path
